/* .footer{
    background: orange;

}
.list {
    margin: 15px 0px 10px;
}

.list ul li {
    display: inline-block;
    margin: 0 6px;
}

.work{
list-style-type: none;
}

.list ul li a {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   color: orange;
    box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
  background-color: #ffffff;
    font-size: 19px;
}


.list ul li a:hover {
    background: #ff8243;
    
}

.list ul li a:hover i {
    color: #ffffff !important;
} */
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: rgba(0, 0, 0, .04);
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #454545;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #fbaf32;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffffff;

}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #454545;
    transition: .3s;
    text-decoration: none;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #fbaf32;
}

.footer .footer-link a:hover {
    color: #fbaf32;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
    color: #fbaf32;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbaf32;
    border-radius: 35px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.footer .footer-social a:hover {
    background: #ffffff;
    color: orange;
}

.footer .footer-social a:last-child {
    margin: 0;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    background: transparent;
    border: 1px solid #fbaf32;
    border-radius: 5px;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
}

.footer .copyright {
    position: relative;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
}

.footer .copyright p {
    margin: 0;
    display: inline-block;
    color: #454545;
}

.footer .copyright p a {
    color: #fbaf32;
}

.footer .copyright p a:hover {
    color: black;
}