 nav.navforcooker{
  max-height :90vh !important;
 
 }
nav.navforcooker .ul{
    list-style:none;
     max-width:400px;
     min-height:100px; 
     
     /* background-color:red  ; */
     padding:0px;
     text-align: right;
     margin-top: 16px;
     
     
   }
   nav.navforcooker .icon{
   width:40px;
     height:40px;
     background-color:green;
     padding:4px 10px;
     border-radius:10px;
     color: white;
     /*to center icon  */
     display: flex;
     justify-content: center;
     align-items: center;
   }
   nav.navforcooker .image{
     border: 5px solid #fff;
     width:100px;
     height:100px;
     border-radius:20px;
     text-align:center;
     margin: auto;
     background-color: #fff;
   }
   
   nav.navforcooker .image img{
     width:100%;
     border-radius:15px;
     display: block;
    /* margin-bottom: 20px;*/
     
   }
   
   nav.navforcooker .ul li  {
     padding:10px;
     display: flex;
     justify-content: space-between;
     direction: rtl;
     align-items: center;
     text-align: right;
     margin-bottom: 15px;
     
   }
   nav.navforcooker .ul li span{
    text-align: right;
    /* display: block; */
    margin-left: auto;
    margin-right: 15px;
   }


   nav.navforcooker li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    /* margin-left: auto; */
  }