.addFood{
    height: 55px;
    /*width: 70%;
    */position: relative;
    transition: 1.4s all ease-in-out;
    -webkit-transition: 1.4s all ease-in-out;
    -moz-transition: 1.4s all ease-in-out;
    -ms-transition: 1.4s all ease-in-out;
    -o-transition: 1.4s all ease-in-out;
    cursor: pointer;
    margin: auto;
    overflow: hidden;
    /* height: 100px !important; */
    /*width: 100%;
    *//*height: 800px;
    */border: 1px dashed black !important;
}
/* .foodForm{
    opacity: 1 !important;
} */
@media (min-width:992px) {
    .addFood{
        width: 60%;
    }
    
}
.addFood.active{
    height: 910px;
    width: 100%;
    border: 1px dashed rgb(35, 147, 35) !important;
}
.foodForm{
    opacity:0;
    transition: 2s all  ease-in;
    -webkit-transition: 2s all  ease-in;
    -moz-transition: 2s all  ease-in;
    -ms-transition: 2s all  ease-in;
    -o-transition: 2s all  ease-in;
    transition-delay: .4s,0s;
}
.addFood .foodForm.active{
    /* background-color: red; */
    opacity: 1;
}
.addFood header{
    /* direction: rtl; */
    /* max-width: 80% ; */
    /* background: red; */
    justify-content: end;
    min-width: 320px;
    align-items: center;
margin-bottom: 25px;
justify-content: center;
}


.addFood header .icon{
    cursor: pointer;
    /* background-color: green; */

}


@media (max-width: 576px){
    .addFood {
        /* height: 900px; */
        /* cursor: pointer; */
        /* background-color: green; */
    
    }
    .addFood .foodForm{
        /* opacity: 1;/ */
    }
}