 
  
  @media  (max-width: 992px) {
    .line {
      width: 30px;
      height: 3px;
      background: #399f45;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      left: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }

    .nav-links {
      position: fixed;
      background: #56c363;
      background: #399f45;
      /* background: #000d02; */
      height: 100vh;
      top: 0;
      left: 0;
      width: 100%;
      flex-direction: column;
      /* clip-path: circle(0px at 90% -10%); */
      -webkit-clip-path: circle(100px at -10% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
     color: #fff;
  z-index: 12;

}



.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  
  
}
.nav-links li {
  opacity: 0;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: 150px;
}
.nav-links li img{
  width:45px;
  margin-left: 10px;
}
.nav-links li a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  margin-left: auto;
}
.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.6s;
  -webkit-transition: all 0.5s ease 0.6s;
  -moz-transition: all 0.5s ease 0.6s;
  -ms-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
}
.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.9s;
  -webkit-transition: all 0.5s ease 0.9s;
  -moz-transition: all 0.5s ease 0.9s;
  -ms-transition: all 0.5s ease 0.9s;
  -o-transition: all 0.5s ease 0.9s;
}
.nav-links li:nth-child(4) {
  transition: all 0.6s ease 1.1s;
  -webkit-transition: all 0.6s ease 1.1s;
  -moz-transition: all 0.6s ease 1.1s;
  -ms-transition: all 0.6s ease 1.1s;
  -o-transition: all 0.6s ease 1.1s;
}

.nav-links li:nth-child(5) {
  transition: all 0.6s ease 1.3s;
  -webkit-transition: all 0.6s ease 1.3s;
  -moz-transition: all 0.6s ease 1.3s;
  -ms-transition: all 0.6s ease 1.3s;
  -o-transition: all 0.6s ease 1.3s;
}

.nav-links li:nth-child(6) {
  transition: all 0.6s ease 1.6s;
  -webkit-transition: all 0.6s ease 1.6s;
  -moz-transition: all 0.6s ease 1.6s;
  -ms-transition: all 0.6s ease 1.6s;
  -o-transition: all 0.6s ease 1.6s;
}


.nav-links li:nth-child(7) {
  transition: all 0.6s ease 1.9s;
  -webkit-transition: all 0.6s ease 1.9s;
  -moz-transition: all 0.6s ease 1.9s;
  -ms-transition: all 0.6s ease 1.9s;
  -o-transition: all 0.6s ease 1.9s;
}
  }
  /* .hamburger:hover ~ .nav-links{
    
  }  */



  .nav-links.open{
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1500px at 100% 10%);
    pointer-events: all;
    z-index: 9999;
  }
  

   .nav-links li.fade{
    opacity: 1;
  }

  .nav-links .closeIcon{
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;

  }


  .nav-links.open {
    margin: 0px !important;
  }
/* 
  
  .nav-links {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
    -webkit-transition: all 0.5s ease 0.6s;
    -moz-transition: all 0.5s ease 0.6s;
    -ms-transition: all 0.5s ease 0.6s;
    -o-transition: all 0.5s ease 0.6s;
}
  li.fade {
    opacity: 1;
  } */