.info{
  
    transform: rotateY(0deg);
    
    animation-duration:1.2s ;
    animation-iteration-count: infinite;
    position: relative;
  }
.info:hover{

    animation-name :anim;
} 
@keyframes anim{
    0%{left:0 ; top: 0;}
    100%{left:25px ; top: 0;}
   }

   .zoom {
    transition: transform .2s; 
  }
  
  .zoom:hover {
    transform: scale(1.02); 
  }
  headerprofile{

  }
  .headerprofile  .backprofile{
   width: 100%;
   height: 40vh;
   background-color: red;
   border-radius: 8px;
   overflow: hidden;
  }
  .headerprofile  .backprofile img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
  }
  .headerprofile .profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
    margin-top: -30%;
    overflow: hidden;
  }
  .headerprofile .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;


  }

  .iconstar{
    color: #fbaf32; font-size: 25px; margin-right: 6px
  }
  .rate{

  }
  .rate .userimage{
    width: 110px;
    height: 110px;
    border-radius: 50%;
   background-color: brown;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .rate .userimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

  }
  .infosize {}
  @media (min-width :992px) {
    .headerprofile  .backprofile{
    
      height: 50vh;
     
   
     }

  
  }
  @media (max-width :576px) {
    .headerprofile .profile{
      width: 120px;
      height: 120px;
  
    }
    .infosize{

      font-size: 20px;
    }


    .iconstar{
      /* color: #fbaf32;  */
      font-size: 18px; 
      /* margin-right: 6px */
    }
    
    
  }
  
  @media (max-width :906px) {

    .headerprofile{
      margin-top: 60px;
    }


  }

  
  @media (max-width :400px) {

     .headerprofile .profile{
      width: 90px;
      height: 90px;
     }
  }