.notifcations .noteContainer{
  max-height :53vh !important;
  overflow: auto;
  cursor: pointer;
}
.notifcations .noteCon{
   margin: auto;
}
.notifcations .headerNote{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.notifcations .noteBoxStyle{
    background-color: #fff;
    box-shadow: #d7d7d7 0px 7px 29px 0px;
}
.notifcations .logo{
    width: 120px; 
    height: 120px;
    margin-left: 40px;
}
.notifcations .logoTxt{
    font-size: 23px;
    text-align: center;
    margin-top: -20px;
}
.notifcations .note-item{ 
   text-align: center;
}
.notifcations .note-img{
    width: 95px;
    height: 95px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}
.notifcations .note-btn{
    background-color: #008000;
    color:#fff;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
