/* 
  .animation:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(-100%);

  }
  .animation  {
    display: block;
  
  }
  .animation:hover:before {
    transform: translateX(0);

  }

  .animation:hover  {
    transform: translateX(100%);
  } */

.cardparent{
  position: relative;
}

.mycard {
background-color:white;
position: relative;
z-index: 10;
  direction: rtl;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.064);
  border-radius: 20px;
  transition: 1s all ease-in-out;
  padding: 20px;
  /* width: 100%; */
  width: 100% 
  !important;
}

.mycard.active{
transform: translateX(50px);

}
.parent{
  flex-direction: column;
display: flex;
align-items: center;
padding: 10px;
}



    .card1 .myimg{
      width: 120px;
      height: 120px;
      border-radius: 40% 20% 40% 10% ;
      -webkit-border-radius: 40% 20% 40% 10% ;
      -moz-border-radius: 40% 20% 40% 10% ;
      -ms-border-radius: 40% 20% 40% 10% ;
      -o-border-radius: 40% 20% 40% 10% ;
      overflow: hidden;
      margin-left: 10px;
}
.card1.mycard img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  /* max-width: 12em; */
  /* height: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius:20px;

  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: 20px; */

}
@media  (max-width: 567px) {
  .card-text {
    margin-bottom: 0.5em;
  }

  .card1.mycard{
    display: flex;
    flex-direction: column;
  }

  .card1 .myimg{
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
 border-radius: 40% 20% 40% 10% ;
     /* border-radius: 20% 40% 10% 40% ;
    -webkit-border-radius: 20% 40% 10% 40% ;
    -moz-border-radius: 20% 40% 10% 40% ;
    -ms-border-radius: 20% 40% 10% 40% ;
    -o-border-radius: 20% 40% 10% 40% ; */
}

}