.btnCart{
    border-radius:20px !important; 
    padding-left:20px !important;
    padding-right:20px !important;
    transition: transform .2s; 
}
.btnCart:hover{
    box-shadow: 0px 0px 10px #6e7c63b4;
    transform: scale(1.05); 
}
.offer-card{
    box-shadow: 0px 0px 20px #6e7c63d8;
}
.offer-img{
    transition: transform .2s; 
    height: 120px;
}
.offer-img:hover{
    transform: scale(1.07); 
}