.h2-title {
    font-size: 46px;
    line-height: 56px;
 margin-bottom: 5px !important;
    text-transform: capitalize;
    position: relative;
}

.h2-title span, .h3-title span, .h4-title span, .h5-title span, .sub-title span {
    display: block;
}
.sec-wp {
    position: relative;
    z-index: 4;
}
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 15px 15px ;
}

.team .team-img {
  
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.team .team-img img {
   
    width: 100%;
    margin-top: 15px;
    transform: scale(1.1);
    transition: .3s;
}

.team .team-item:hover img {
    margin-top: 0;
    margin-bottom: 15px;
}

.team .team-rate {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team .team-rate a {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 16px;
  text-decoration: none;
    background: #ffffff;
    opacity: 0;
}



.team .team-item:hover .team-rate {
    background: rgba(256, 256, 256, .5);
}

.team .team-item:hover .team-rate a:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team .team-item:hover .team-rate a:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team .team-item:hover .team-rate a:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .2s;
}

.team .team-item:hover .team-rate a:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}
.team .team-item:hover .team-rate a:nth-child(5) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}
.team .team-item:hover .team-rate a:nth-child(6) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}

.team .team-text {
    position: relative;
    padding: 25px 15px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .07);
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.team .team-text h2 {
    font-size: 22px;
    font-weight: 700;
}

.team .team-text p {
    margin: 0;
    font-size: 16px;
}
