.signloginpop .modal-content {
    background-color: transparent !important;
    border: none !important;
  

}

.signloginpop .modal-header {
    border: none !important;
   
}

.signloginpop .modal-header .btn-close {
    background-color: rgb(75, 206, 79) !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

.signloginpop .modal-content {
    background-color: transparent !important;
    border: none !important;

}
@media (max-width:992px) {
    
    .avataricon{
        margin:10px auto;
    }
}

@media (min-width:993px) {
    
    .avataricon{
        margin:0px 20px;
    }
}