

  
  .FoodCardForUser .box{
      margin: 95px auto 65px;
      background-color: rgb(255, 255, 255);
      width: 100%;
      min-height: 220px;
      padding: 15px;
 
  
      position: relative;
      border-radius: 20px;
      box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 13%);
      display: flex;
      flex-direction: column;
      
      justify-content: flex-end;
      transition: all 2s;
      position: relative;
/* padding-top: 40px; */

  }
  .FoodCardForUser .box .boxDetails{
   text-align: right;
   margin-right: 10px;
  }
  .FoodCardForUser .box .p-content{
    font-size: 11px;
    color: #848484;
    max-width: 200px;
    text-align: right;
    margin:17px 0px;
    margin-left: auto;
  }
   .FoodCardForUser .box a {
    /* background-color: #069C54; */
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5%;
    top: 80%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  
  }
  
   .FoodCardForUser .box a i {
    color: #fff;
    font-size: 15px;
    /* text-align: center;background-color: red; */
    /* transform: translate(-10%); */
    /*padding: 0px 10px;*/
  
  }

   .FoodCardForUser .box img{
    
        /* width: 70%;
      margin: auto;
      display: block;
      margin-bottom: 21px;
      transition: all 2s; */

     
  } 
  .FoodCardForUser .box:hover {
    
    transform: scale(1.1);
    
  }
   



    @media (min-width:993px) {
      .FoodCardForUser .boximg{
        margin: auto;
        transition: all 2s;
        cursor: pointer;
        width:110px;
        height: 110px;
         margin-top: -40%;
    
     
    }
      
    }
    /* @media (min-width : 590px) and (max-width:768px) { 
      .FoodCardForUser   .boxImg  {
            width:150px !important;
            height: 150px !important;
           
         }
         
       } */

    @media(max-width:992px) { 
      .FoodCardForUser .boximg{
        margin-right: auto;
        transition: all 2s;
        cursor: pointer;
        width:130px;
        height: 130px;
        margin-top: -24%;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -ms-transition: all 2s;
        -o-transition: all 2s;
}
        .S{
          background-color: red;
        }
       }

       @media(max-width:490px) { 
        .FoodCardForUser .boximg{
          margin: auto;
          transition: all 2s;
          cursor: pointer;
          width:135px;
          height: 135px;
           margin-top: -33%;
      
       
      }
          .S{
            background-color: red;
          }
         }

   @media (min-width : 491px) and (max-width:768px) { 
        .FoodCardForUser .boximg{
          margin-left: 40px;
          transition: all 2s;
          cursor: pointer;
          width:160px;
          height: 160px;
           margin-top: -20%;
      
       
      }
        
    
    }