.App {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: "El Messiri", sans-serif;
}

/* .App .appContainer {

  background-color: rgb(112, 139, 112) !important;
  overflow: hidden;
  height: 100vh;
  padding: 16px 40px !important;
}

@media (max-width:992px) {
  .App .appContainer {
  
    background-color: rgb(255, 255, 255) !important;
    overflow: hidden;
    height: 100vh;
    padding: 0px 13px !important;
  }
  
  
} */
