#img{
    margin-top: 50px;
max-width: 90%;
   max-height: 500px;
border-radius: 200px;

 

}
.chef{
  
  margin-right: 230px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 90px;
    align-items: center;
}